build/
release/

.cache/

#*
#!./main.cpp
#
#!./src/common/*
#!./src/gui/*
#!./src/demon/*
#!./src/common/**
#!./src/gui/**
#!./src/demon/**
#!./src/common/
#!./src/gui/
#!./src/demon/
#!./src/common
#!./src/gui
#!./src/demon
#
#!./inc/common/*
#!./int/gui/*
#!./int/demon/*
#./
#!./summer_condition.png
#!./todo.md
#!./README.md
#
#!./meson.build
#!./meson.options
#
#!./.gitignore
#
#!./res/*
